<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>VotApp</title>
	<meta charset="utf-8" content="Aplicaion web">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}">
	<script type="text/javascript" th:src="@{/js/myScript.js}"></script>
</head>

<body>
	

<div align="center">
	<img th:src="@{/img/Incorrectas.png}" style="display:block; margin: auto;	width:40%;">
	<h1>Usuario y/o Contraseña incorrectos</h1>
	<a th:href="@{/votapp}">Intente de nuevo</a>
</div>
</body>

</html>